<div class="jumbotron">
  <div class="page-header">
    <h1>Bienvenido</h1>

    <p>DChurch es un sistema online de gesti&#243;n para iglesias; dispone de los
      siguientes m&#243;dulos:</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="imgModules" src="/assets/members.jpg" alt="membresia">

      <div class="caption">
        <h3>Membres&#237;a</h3>

        <p>Almacene y mantenga en orden los datos personales de los miembros.</p>

        <p><a href="#" class="btn btn-primary" role="button">Button</a>
          <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="imgModules" src="/assets/movements.jpg" alt="movimientos">

      <div class="caption">
        <h3>Movimientos</h3>

        <p>Gestione los activos, diezmos, ofrendas, contribuciones de forma eficiente y efectiva.</p>

        <p><a href="#" class="btn btn-primary" role="button">Button</a>
          <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="imgModules" src="/assets/events.jpg" alt="eventos">

      <div class="caption">
        <h3>Eventos</h3>

        <p>Administre y mantenga constancia de los eventos y servicios que se celebran.</p>

        <p><a href="#" class="btn btn-primary" role="button">Button</a>
          <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
