<%=form_for (@ministry) { |f| %>
<%if @ministry.errors.any?%>
<div id="error_explanation">
	<ul>
		<%@ministry.errors.full_messages.each do |e| %>
		<li><%=e%></li>
		<%end%>
	</ul>
</div>
<%end%>
<div class="field">
	<span class="labelfield">Descripcion:</span>
	<%=f.text_field :Description%>
</div>
<div class="field">
	<span class="labelfield">Activo:</span>
	<%=f.check_box :Active%>
</div>
<div class="actions">
  <button class="btn btn-success">Guardar
    <span class="glyphicon glyphicon-floppy-disk"></span></button>
</div>
<%}%>