<div class="field">
  <span class="labelfield">Descripción:</span>
	<%= @ministry.Description%>
</div>
<div class="field">
	<span class="labelfield">Activo:</span>
	<%=check_box_tag "chkActive",nil, @ministry.Active, disabled: true%>
</div>

<%= link_to edit_ministry_path(@ministry) do %>
    <button class="btn btn-success">Editar <span class="glyphicon glyphicon-pencil"></span></button>
<% end %> |
<%= link_to ministries_path do %>
    <button class="btn btn-default">Lista <span class="glyphicon glyphicon-list"></span></button>
<% end %>