// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail .imgModules {
  width: 35%;
  height: 210px;
}

@media (min-width: 768px) {
  .thumbnail .imgModules {
    width: 60%;
    height: 210px;
  }
}