<div id="footer">
  <div class="container">
    <p class="muted credit">Servicio desarrollado por
      <a target="_blank" href="https://do.linkedin.com/in/gregory-amable-garcia-cordero-3210b652"> Ing. Gregory Garc&#205;a</a>.
    </p>
  </div>
</div>